

<div class="navbar navbar-fixed-top">
   <div class="navbar-inner" style="  background: #0A5E7E !important;">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="./static/logonew.png" alt="Opti-self logo" style="margin-top:10px;width:200px;height:40px;">
    </div>
{% if user_account %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
        <li><a href="./documents/{{user_account}}">Documents Home</a></li>
        <li><a href="{{company_FE}}/user-home/{{user_account}}">Manage Users </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right:10px;!important">
        <li><a href="./logout">Logout</a></li>
      </ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
</ul>
{% endif %}



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
